In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from PIL import Image

In [2]:
df = pd.read_csv("C:/Users/YASH/Desktop/mnist_data-29-4-2022/mnist_data1.csv")

In [3]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,Target
count,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,...,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000
mean,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266809,0.266707,0.266676,0.266695,0.266665,0.266667,0.266667,0.266667,0.266667,4.456643
std,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.010808,0.006231,0.003548,0.004643,0.000218,0.000000,0.000000,0.000000,0.000000,2.887730
min,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.117647,0.121569,0.125490,0.137255,0.231373,0.266667,0.266667,0.266667,0.266667,0.000000
25%,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,2.000000
50%,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,4.000000
75%,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,7.000000
max,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.980392,0.972549,0.972549,0.980392,0.266667,0.266667,0.266667,0.266667,0.266667,9.000000

# Converting the dataset into X - as an input variable and y - Target  variable

In [4]:
y=df['Target'] #target variable
X=df.iloc[:,0:784] #input variable

# split into train and test

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, train_size = 0.75, random_state = 100)

In [6]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(31500, 784) (31500,)
(10500, 784) (10500,)

# b. Separating Categorical and Numerical Columns:

In [7]:
X_train.dtypes

0      float64
1      float64
2      float64
3      float64
4      float64
        ...
779    float64
780    float64
781    float64
782    float64
783    float64
Length: 784, dtype: object

In [8]:
X_train_num = X_train.select_dtypes(include=['float64'])
X_train_num.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
33145,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
25613,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
21792,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
32368,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
3667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667

In [9]:
X_train_num.shape

(31500, 784)

# Standardizing the numerical values for train data.

In [10]:
#Importing the standard
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_num_rescaled = pd.DataFrame(scaler.fit_transform(X_train_num),
                                 columns = X_train_num.columns,
                                 index = X_train_num.index)

X_train_num_rescaled.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
33145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0
25613,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0
21792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0
32368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0
3667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0

# DataPreparation for Test Data

In [11]:
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
21028,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
35662,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
7969,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
16537,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
36659,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667

In [12]:
X_test.dtypes

0      float64
1      float64
2      float64
3      float64
4      float64
        ...
779    float64
780    float64
781    float64
782    float64
783    float64
Length: 784, dtype: object

In [13]:
X_test_num = X_test.select_dtypes(include=['float64'])
X_test_num.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
21028,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
35662,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
7969,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
16537,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
36659,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667

# Standardizing the numerical values for train data.

In [14]:
X_test_num_rescaled = pd.DataFrame(scaler.transform(X_test_num),
                                 columns = X_test_num.columns,
                                 index = X_test_num.index)

In [15]:
X_test_num_rescaled.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
21028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0
35662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0
7969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0
16537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0
36659,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.013921,-0.013288,-0.005285,-0.005476,-0.005667,0.005634,0.0,0.0,0.0,0.0

## As it is a Classification problem we are going to use Classification Task

In [16]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train_num_rescaled, y_train)

C:\Users\YASH\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
y_test_pred = classifier.predict(X_test_num_rescaled)

In [18]:
temp_df = pd.DataFrame({'Actual' : y_test,'Predicted' :y_test_pred })
temp_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          5

In [19]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred)

0.8784761904761905

# Accuracy Rate Using Logistic Regression: 88%

# KNN CLASSIFIER

In [20]:
from sklearn.neighbors import KNeighborsClassifier
neighbour = KNeighborsClassifier()
neighbour.fit(X_train_num_rescaled, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [21]:
y_test_pred = neighbour.predict(X_test_num_rescaled)

In [22]:
temp_df = pd.DataFrame({'Actual' : y_test,'Predicted' :y_test_pred })
temp_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          1

In [23]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred)

0.851047619047619

# Accuracy Rate Using KNN CLASSIFIER : 92%

# DECISION TREE CLASSIFIER

In [24]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train_num_rescaled,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
y_test_pred = tree.predict(X_test_num_rescaled)

In [26]:
temp_df = pd.DataFrame({'Actual' : y_test,'Predicted' :y_test_pred })
temp_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [27]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred)

0.7770476190476191

# Accuracy Rate Using Decision Tree Classifier : 77%

# Ensemble Random Forest

In [28]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train_num_rescaled,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [29]:
y_test_pred = rfc.predict(X_test_num_rescaled)

In [30]:
temp_df = pd.DataFrame({'Actual' : y_test,'Predicted' :y_test_pred })
temp_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [31]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred)

0.9441904761904761

# Accuracy Rate Using Random Forest Accuracy Rate : 94%

# GRADIENT BOOSTING

In [47]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(X_train_num_rescaled,y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [48]:
y_test_pred = gbc.predict(X_test_num_rescaled)

In [49]:
temp_df = pd.DataFrame({'Actual' : y_test,'Predicted' :y_test_pred })
temp_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [50]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred)

0.9181904761904762

# SUPPORT VECTOR CLASSIFIER

In [51]:
from sklearn.svm import SVC
svc_classifier = SVC()
svc_classifier.fit(X_train_num_rescaled, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [52]:
y_pred = svc_classifier.predict(X_test_num_rescaled)

In [53]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.9286666666666666

# Accuracy Rate Using Gradient boosting classifier : 92%

Conclusion :
- Logistic Regression : 88%
- KNN CLassifier : 92%
- Decision Tree : 77%
- Random Forest : 94%
- Gradient Boosting : 92%
- SUPPORT VECTOR MACHINE : 92%

# From the above we conclude that can get good prediction while using Random Forest Classifier which is 94%

# saving the model serialization

In [54]:
from pickle import dump

In [59]:
dump(classifier, open('C:/Users/YASH/Desktop/mnist_data-29-4-2022/productionization/classifier.pkl','wb'))

In [61]:
dump(neighbour, open('C:/Users/YASH/Desktop/mnist_data-29-4-2022/productionization/knn_neighbour.pkl','wb'))
dump(tree, open('C:/Users/YASH/Desktop/mnist_data-29-4-2022/productionization/decision_tree.pkl','wb'))
dump(rfc,open('C:/Users/YASH/Desktop/mnist_data-29-4-2022/productionization/random_forest.pkl','wb'))
dump(gbc, open('C:/Users/YASH/Desktop/mnist_data-29-4-2022/productionization/gbc.pkl','wb'))
dump(svc_classifier, open('C:/Users/YASH/Desktop/mnist_data-29-4-2022/productionization/svc_classifier.pkl','wb'))